{% extends 'layout.html' %}
{% block content %}

<section>
    <div class="container m-2">
        <div class="row">
            <div class="col-6">
                
            </div>
            <div class="col-6">
                <h1>Add new category</h1>
                <p>This is an E-commerce site where people can buy or sell product. This company has some goals.</p>
            </div>
            <div class="col-6">
                
            </div>
            

            <div class="col-6">
                <h4>Goals</h4>
                <p>
                    <ol>
                        <li>
                            Get product easily.
                        </li>
                        <li>
                            Buy original product. 
                        </li>
                        <li>
                            Smart Shopping.
                        </li>
                    </ol>
                </p>
            </div>
    </div>
</section>

{% endblock %}
