{% extends 'layout.html' %}

{% block content %}
<section class="py-5">
  <div class="container">
    <div class="row-12">
      <div class="col-4">
        
      </div>
      <div class="col-4">
        
      </div>
      
        <div class="col-3 open_sans">
                <h1><i class="fas fa-user-tie"> {{ current_user.FullName }}</i></h1>
                <p class="small">{{ current_user.UserType }}</p>
                <a class="" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"> Logout</i></a>
            </div>
            
      </div>
    </div>
  </div>
</section>

<section class="py-5">
    <div class="container">
        <h1>Orders:</h1>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Product Name</th>
                      <th scope="col">Buyer Name</th>
                      <th scope="col">Phone</th>
                      <th scope="col">Address</th>
                      <th scope="col">Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in orders %}
                    <tr>
                      <th scope="row">{{order.ID}}</th>
                      <td>{{ order.ProductName }}</td>
                      <td>{{ order.ReceiverName }}</td>
                      <td>{{ order.PhoneNumber }}</td>
                      <td>{{ order.Address }}</td>
                      <td>{{ order.Date }}</td>
                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}